<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ session.get('user') }}的个人中心</title>
</head>
<body>

    welcome:<a href="{{ url_for('third_blue.user') }}">{{ session.get('user') }}</a>
    <br>
    <br>

{% for a in artic %}
    编号：{{ a['id'] }}&nbsp;&nbsp;&nbsp;&nbsp;
    标题：<a href="{{ url_for('sec_blue.artic',id=a['id']) }}">{{ a['title'] }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
    标签：<a href="{{ url_for('sec_blue.query',family=a['family'] ) }}" methods="post">{{ a['family'] }}</a><br>
    正文：{{ a['content'] }}<br>
{% endfor %}


<form action="{{ url_for('sec_blue.query_title') }}" method="post">
    查询：<input type="text" name="key_word"> <input type="submit">


</form>

<a href="{{ url_for('third_blue.tans') }}">要发贴？点我去发帖</a>
</body>
</html>